<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">E-Bharat: TMS</div>
  <div class="menu" fxHide.xs *ngIf="isLoggedIn">
    <a routerLink="/dashboard">Home</a>
  </div>
  <div class="menu" fxHide.xs *ngIf="isLoggedIn">
    <a routerLink="/dashboard">Tenders</a>
  </div>
  <div class="menu" fxHide.xs *ngIf="isLoggedIn">
    <a routerLink="/share-tms">Share</a>
  </div>
  <div class="menu" fxHide.xs *ngIf="isLoggedIn">
    <a routerLink="/contact-us">Contact Us</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs *ngIf="isLoggedIn">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a class="logout" (click)="logout()">
          <mat-icon class="logout--icon">power_settings_new</mat-icon>
          Logout
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
