<h1>Share Tender Information</h1>
<h3>
  You would be able to share the information of the tenders managed by you to
  other colleagues or stake holders. The information that you would be sharing
  would not be editable by the people you have shared with. You can block or
  delete the colleagues you have share the information with.
</h3>
<mat-card fxFlex="1 1 190px" fxLayout="column" class="add-details-form">
  <mat-card-subtitle>Add Stake Holder Details</mat-card-subtitle>
  <mat-card-content fxFlex fxLayout="column">
    <form [formGroup]="shareTMSForm">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput required placeholder="Name" type="text" formControlName="name" />
        <mat-error *ngIf="!shareTMSForm.controls.name.valid">Name is invalid.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" matInput placeholder="9898989898" required formControlName="mobileNumber" maxlength="10"
          minlength="10" />
        <mat-error *ngIf="!shareTMSForm.controls.mobileNumber.valid">Mobile Number is invalid.</mat-error>
        <mat-error *ngIf="
            shareTMSForm.controls.mobileNumber.hasError('minLength') ||
            shareTMSForm.controls.mobileNumber.hasError('maxLength')
          ">Mobile Number must be of 10 characters.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" type="text" formControlName="description" />
        <mat-error *ngIf="!shareTMSForm.controls.description.valid">Description is invalid.</mat-error>
      </mat-form-field>
    </form>
    <div fxFlex fxLayoutAlign="center">
      <button mat-raised-button color="primary" [disabled]="
          !shareTMSForm.controls.name.valid ||
          !shareTMSForm.controls.mobileNumber.valid ||
          !shareTMSForm.controls.description.valid
        " (click)="addStakeholder()">
        Register
      </button>
      <button mat-raised-button color="warn" (click)="resetShareTMSForm()">
        Reset
      </button>
    </div>
  </mat-card-content>
</mat-card>
<mat-card fxFlex fxLayout="column" fxLayoutAlign="start center" class="share-tms-grid">
  <mat-card-subtitle class="stakeholders-title">
    Stakeholders({{(stakeholders$ | async)?.length || 0}})
  </mat-card-subtitle>
  <mat-card-content fxFlex class="grid">
    <tms-grid [validateData]="validateData" [frameworkComponents]="frameworkComponents" [columnDefs]="columnDefs"
      [rowData]="stakeholders$ | async"></tms-grid>
  </mat-card-content>
</mat-card>
