<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="sidenav.toggle()" *ngIf="isLoggedIn">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
      </a>
      <a mat-list-item routerLink="/share-tms" (click)="sidenav.toggle()" *ngIf="isLoggedIn">
        <mat-icon>share</mat-icon>
        <span class="nav-caption">Share</span>
      </a>
      <a mat-list-item routerLink="/contact-us" (click)="sidenav.toggle()" *ngIf="isLoggedIn">
        <mat-icon>contact_mail</mat-icon>
        <span class="nav-caption">Contact Us</span>
      </a>
      <a mat-list-item routerLink="/logout" class="logout" (click)="logout();sidenav.toggle()">
        <mat-icon>power_settings_new</mat-icon>
        <span class="nav-caption">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <tms-navbar [isLoggedIn]="isLoggedIn" (sidenavToggle)="sidenav.toggle()" (onLogout)="logout()"></tms-navbar>
    <main>
      <router-outlet></router-outlet>
    </main>
    <tms-footer></tms-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
