:host {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
}

.tender {
  min-width: 75vw;
  min-height: 65vh;

  form {
    display: flex;
    flex: 1;
  }
}

.form {
  padding: 10px;
}
