<mat-card class="register-card">
  <mat-card-title class="register-card__title">Register</mat-card-title>
  <mat-card-content class="register-card__content">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <div [formGroup]="registerForm" class="register-form">
          <mat-form-field>
            <mat-label>Username(email)</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              required
              formControlName="username"
            />
            <mat-error *ngIf="!registerForm.controls.username.valid"
              >Username is invalid.</mat-error
            >
          </mat-form-field>
        </div>
        <div [formGroup]="passwordForm" fxLayout="column">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              required
              (focus)="isPasswordFocused = true"
              (blur)="isPasswordFocused = false"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="!passwordForm.controls.password.valid"
              >Password is invalid.</mat-error
            >
            <mat-error
              *ngIf="
                !passwordForm.controls.password.valid && !isPasswordFocused
              "
              >Password must contain 1 Capital letter, 1 Small letter, 1 Special
              character and 1 Number. Minimum length 8, Maximum length
              30.</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              required
              (focus)="isConfirmPasswordFocused = true"
              (blur)="isConfirmPasswordFocused = false"
              formControlName="confirmPassword"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="!passwordForm.controls.confirmPassword.valid"
              >Password is invalid.</mat-error
            >
            <mat-error
              *ngIf="
                !passwordForm.controls.confirmPassword.valid &&
                !isConfirmPasswordFocused
              "
              >Password must contain 1 Capital letter, 1 Small letter, 1 Special
              character and 1 Number. Minimum length 8, Maximum length
              30.</mat-error
            >
          </mat-form-field>
          <mat-error
            *ngIf="
              passwordForm.controls.password.touched &&
              passwordForm.controls.confirmPassword.touched &&
              passwordForm.hasError('notSame')
            "
          >
            Passwords do not match.
          </mat-error>
        </div>
        <div class="actions">
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="
              !registerForm.controls.username.valid ||
              !passwordForm.controls.password.valid ||
              !passwordForm.controls.confirmPassword.valid ||
              passwordForm.hasError('notSame')
            "
          >
            Next
          </button>
          <button mat-raised-button color="warn" routerLink="/">Cancel</button>
        </div>
      </mat-step>
      <mat-step>
        <div [formGroup]="registerForm" class="register-form">
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input
              matInput
              placeholder="ABC Pvt. Ltd."
              required
              formControlName="companyName"
            />
            <mat-error *ngIf="!registerForm.controls.companyName.valid"
              >Company Name is invalid.</mat-error
            >
            <mat-error
              *ngIf="
                registerForm.controls.companyName.hasError('minLength') ||
                registerForm.controls.companyName.hasError('maxLength')
              "
              >Company Name must be of minimum 3 characters and maximum 100
              characters.</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <textarea
              formControlName="address"
              matInput
              required
              placeholder="Steel Authority of India Ltd., Ispat Bhavan, Lodhi Road, NEW DELHI - 110003"
            ></textarea>
            <mat-error *ngIf="!registerForm.controls.address.valid"
              >Address is invalid.</mat-error
            >
            <mat-error
              *ngIf="
                registerForm.controls.address.hasError('minLength') ||
                registerForm.controls.address.hasError('maxLength')
              "
              >Address must be of minimum 3 characters and maximum 150
              characters.</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>PAN Card Number</mat-label>
            <input
              matInput
              placeholder="ABCDE1234F"
              required
              formControlName="panCardNumber"
            />
            <mat-error *ngIf="!registerForm.controls.panCardNumber.valid"
              >PAN Card Number is invalid.</mat-error
            >
            <mat-error
              *ngIf="
                registerForm.controls.panCardNumber.hasError('minLength') ||
                registerForm.controls.panCardNumber.hasError('maxLength')
              "
              >PAN Card Number must be of 10 characters.</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Mobile Number</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input
              type="tel"
              matInput
              placeholder="9898989898"
              required
              formControlName="mobileNumber"
              maxlength="10"
              minlength="10"
            />
            <mat-error *ngIf="!registerForm.controls.mobileNumber.valid"
              >Mobile Number is invalid.</mat-error
            >
            <mat-error
              *ngIf="
                registerForm.controls.mobileNumber.hasError('minLength') ||
                registerForm.controls.mobileNumber.hasError('maxLength')
              "
              >Mobile Number must be of 10 characters.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="actions">
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="
              !registerForm.controls.companyName.valid ||
              !registerForm.controls.address.valid ||
              !registerForm.controls.panCardNumber.valid ||
              !registerForm.controls.mobileNumber.valid
            "
          >
            Next
          </button>
          <button mat-raised-button color="warn" routerLink="/">Cancel</button>
        </div>
      </mat-step>
      <mat-step>
        <div [formGroup]="registerForm" class="register-form">
          <mat-card-title class="register-card__title"
            >Choose a Plan</mat-card-title
          >
          <mat-card-content>
            <mat-radio-group
              aria-label="Select an option"
              class="plans"
              formControlName="plan"
            >
              <div class="plan">
                <mat-radio-button value="trial" checked
                  >2 Month Free Trial</mat-radio-button
                >
              </div>
              <div class="plan">
                <mat-radio-button value="subscribed"
                  >1 Year Subscription @ ₹1000</mat-radio-button
                >
              </div>
            </mat-radio-group>
          </mat-card-content>
          <div class="actions">
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              [disabled]="
                !registerForm.controls.companyName.valid ||
                !registerForm.controls.address.valid ||
                !registerForm.controls.panCardNumber.valid ||
                !registerForm.controls.mobileNumber.valid
              "
            >
              Register
            </button>
            <button mat-raised-button color="warn" routerLink="/">
              Cancel
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
