:host {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow-y: scroll;
}

.header {
  display: flex;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.action {
  margin-left: auto;
}

.dashboard {
  width: 100%;
  justify-content: space-around;

  &--graph {
    margin: 10px;
    height: 285px;
    width: 285px;
  }
}

mat-accordion {
  width: 100%;
}

.tms-filter {
  width: 100%;
  padding: 20px 20px 0 20px;
}

.details {
  max-width: 450px;
}

::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

.grid-container {
  height: 100%;
}

.mat-tab-group {
  height: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-tab-body {
  display: flex !important;
  flex-direction: column;
}
