<mat-toolbar class="header">
  <span>All Tenders - Summary</span>
  <button
    mat-raised-button
    color="primary"
    class="action"
    (click)="openAddTenderDialog()"
  >
    <mat-icon>library_add</mat-icon>
    Add Tender
  </button>
</mat-toolbar>
<div class="dashboard" fxLayout="row" *ngIf="showDashboard">
  <mat-card class="dashboard--graph" fxLayout="column">
    <tms-progress-graph
      [percent]="tenderStats.completedPercentage"
      [title]="[tenderStats.completed?.toString()+'('+tenderStats.completedPercentage+'%)', 'COMPLETE']"
      [outerStrokeColor]="graphColours.completeOuterStrokeColor"
      [innerStrokeColor]="graphColours.completeInnerStrokeColor"
    ></tms-progress-graph>
    <mat-card-actions fxFlex fxFlexAlign="center">
      <button mat-raised-button color="primary" class="action">
        <mat-icon>remove_red_eye</mat-icon>
        Show Completed Tenders
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="dashboard--graph" fxLayout="column">
    <tms-progress-graph
      [percent]="tenderStats.activePercentage"
      [title]="[tenderStats.active?.toString()+'('+tenderStats.activePercentage+'%)', 'ACTIVE']"
      [outerStrokeColor]="graphColours.activeOuterStrokeColor"
      [innerStrokeColor]="graphColours.activeInnerStrokeColor"
    ></tms-progress-graph>
    <mat-card-actions fxFlex fxFlexAlign="center">
      <button mat-raised-button color="primary" class="action">
        <mat-icon>remove_red_eye</mat-icon>
        Show Active Tenders
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="dashboard--graph" fxLayout="column">
    <tms-progress-graph
      [percent]="tenderStats.cancelledPercentage"
      [title]="[tenderStats.cancelled?.toString()+'('+tenderStats.cancelledPercentage+'%)', 'Cancelled']"
      [outerStrokeColor]="graphColours.incompleteOuterStrokeColor"
      [innerStrokeColor]="graphColours.incompleteInnerStrokeColor"
    ></tms-progress-graph>
    <mat-card-actions fxFlex fxFlexAlign="center">
      <button mat-raised-button color="primary" class="action">
        <mat-icon>remove_red_eye</mat-icon>
        Show Cancelled Tenders
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length">
  <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData" [frameworkComponents]="frameworkComponents"></tms-grid>
</div>
<tms-modal-popup #createTenderModalWrapper>
  <tms-create-tender
  #createTenderForm 
  (onCreateTender)="createTender($event)" 
  fxFlex fxLayout="column">
</tms-create-tender>
</tms-modal-popup>
<tms-modal-popup #deleteTenderModalWrapper>
  <tms-delete-popup #deleteTenderPopup [tender]="tender" (onDelete)="delete()" (onCancel)="cancel()"></tms-delete-popup>
</tms-modal-popup>
<tms-modal-popup #pdfViewerModalMapper>
  <tms-pdf-viewer [title]="'['+tender?.tenderId+'] ' + tender?.name" (onClose)="closePdfViewer()"></tms-pdf-viewer>
</tms-modal-popup>
<tms-overlay-spinner loadingText="Loading Tenders..." size="64" *ngIf="isLoadingTenders"></tms-overlay-spinner>