<mat-toolbar class="header">
  <span>All Tenders - Summary</span>
  <button mat-raised-button color="primary" class="action" (click)="openAddTenderDialog()">
    <mat-icon>library_add</mat-icon>
    Add Tender
  </button>
</mat-toolbar>
<div fxFlex fxLayout="row">
  <mat-tab-group color="accent" backgroundColor="primary" fxFlex dynamicHeight (selectedTabChange)="tabClick($event)">
    <mat-tab [label]="'Active('+(tenders$ | async)?.length+')'">
      <div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length">
        <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData"
          [frameworkComponents]="frameworkComponents" (onRowSelection)="toggleTenderDetails($event)"></tms-grid>
      </div>
      <div fxFlex class="details" *ngIf="selectedTender">
        <tms-tender-details [tender]="selectedTender" (onCloseTender)="closeTenderDetails()"></tms-tender-details>
      </div>
    </mat-tab>
    <mat-tab [label]="'Complete('+(tenders$ | async)?.length+')'">
      <div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length" class="grid-container">
        <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData"
          [frameworkComponents]="frameworkComponents" (onRowSelection)="toggleTenderDetails($event)"></tms-grid>
      </div>
      <div fxFlex class="details" *ngIf="selectedTender">
        <tms-tender-details [tender]="selectedTender" (onCloseTender)="closeTenderDetails()"></tms-tender-details>
      </div>
    </mat-tab>
    <mat-tab [label]="'Not Filled('+(tenders$ | async)?.length+')'">
      <div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length" class="grid-container">
        <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData"
          [frameworkComponents]="frameworkComponents" (onRowSelection)="toggleTenderDetails($event)"></tms-grid>
      </div>
      <div fxFlex class="details" *ngIf="selectedTender">
        <tms-tender-details [tender]="selectedTender" (onCloseTender)="closeTenderDetails()"></tms-tender-details>
      </div>
    </mat-tab>
    <mat-tab [label]="'All('+(tenders$ | async)?.length+')'">
      <div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length" class="grid-container">
        <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData"
          [frameworkComponents]="frameworkComponents" (onRowSelection)="toggleTenderDetails($event)"></tms-grid>
      </div>
      <div fxFlex class="details" *ngIf="selectedTender">
        <tms-tender-details [tender]="selectedTender" (onCloseTender)="closeTenderDetails()"></tms-tender-details>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<tms-modal-popup #createTenderModalWrapper>
  <tms-create-tender #createTenderForm (onCreateTender)="createTender($event)" fxFlex fxLayout="column">
  </tms-create-tender>
</tms-modal-popup>
<tms-modal-popup #deleteTenderModalWrapper>
  <tms-delete-popup #deleteTenderPopup [tender]="tender" (onDelete)="delete()" (onCancel)="cancel()"></tms-delete-popup>
</tms-modal-popup>
<tms-modal-popup #pdfViewerModalMapper>
  <tms-pdf-viewer [title]="'['+tender?.tenderId+'] ' + tender?.name" (onClose)="closePdfViewer()"></tms-pdf-viewer>
</tms-modal-popup>
<tms-overlay-spinner loadingText="Loading Tenders..." size="64" *ngIf="isLoadingTenders">
</tms-overlay-spinner>
<tms-overlay loadingText="Your subscription has expired. Please upgrade." *ngIf="isUserSubscriptionExpired">
  <button mat-raised-button color="warn">
    Upgrade
  </button>
</tms-overlay>
