<mat-toolbar class="header">
  <span>All Tenders - Summary</span>
  <button mat-raised-button color="primary" class="action" (click)="openAddTenderDialog()">
    <mat-icon>library_add</mat-icon>
    Add Tender
  </button>
</mat-toolbar>
<div class="user-details">
  <span class="company-name"><b>{{companyName}}</b></span>,<br />
  <span>{{address}}</span>
</div>
<div fxFlex fxLayout="row">
  <mat-tab-group color="accent" backgroundColor="primary" fxFlex dynamicHeight (selectedTabChange)="tabClick($event)">
    <mat-tab [label]="'Upcoming('+tenderStats.active+')'">
      <div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length && activeTab === 'active'">
        <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData"
          [frameworkComponents]="frameworkComponents" (onRowSelection)="toggleTenderDetails($event)"></tms-grid>
      </div>
      <div fxFlex class="details" *ngIf="selectedTender && activeTab === 'active'">
        <tms-tender-details [tender]="selectedTender" (onCloseTender)="closeTenderDetails()"></tms-tender-details>
      </div>
    </mat-tab>
    <mat-tab [label]="'Filled('+tenderStats.completed+')'">
      <div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length && activeTab === 'complete'" class="grid-container">
        <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData"
          [frameworkComponents]="frameworkComponents" (onRowSelection)="toggleTenderDetails($event)"></tms-grid>
      </div>
      <div fxFlex class="details" *ngIf="selectedTender && activeTab === 'complete'">
        <tms-tender-details [tender]="selectedTender" (onCloseTender)="closeTenderDetails()"></tms-tender-details>
      </div>
    </mat-tab>
    <mat-tab [label]="'Not Filled('+tenderStats.cancelled+')'">
      <div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length && activeTab === 'not_filled'"
        class="grid-container">
        <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData"
          [frameworkComponents]="frameworkComponents" (onRowSelection)="toggleTenderDetails($event)"></tms-grid>
      </div>
      <div fxFlex class="details" *ngIf="selectedTender && activeTab === 'not_filled'">
        <tms-tender-details [tender]="selectedTender" (onCloseTender)="closeTenderDetails()"></tms-tender-details>
      </div>
    </mat-tab>
    <mat-tab [label]="'All('+(tenderStats.cancelled+tenderStats.active+tenderStats.completed)+')'">
      <div fxFlex fxLayout="row" *ngIf="(tenders$ | async)?.length && activeTab === 'all'" class="grid-container">
        <tms-grid [validateData]="validateData" [columnDefs]="columnDefs" [rowData]="rowData"
          [frameworkComponents]="frameworkComponents" (onRowSelection)="toggleTenderDetails($event)"></tms-grid>
      </div>
      <div fxFlex class="details" *ngIf="selectedTender && activeTab === 'all'">
        <tms-tender-details [tender]="selectedTender" (onCloseTender)="closeTenderDetails()"></tms-tender-details>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<tms-modal-popup #createTenderModalWrapper>
  <tms-create-tender #createTenderForm (onCreateTender)="createTender($event)"
    (onCloseCreateTender)="closeCreateTender()" fxFlex fxLayout="column">
  </tms-create-tender>
</tms-modal-popup>
<tms-modal-popup #editTenderModalWrapper>
  <tms-edit-tender #editTenderForm (onEditTender)="editTender($event)" (onCloseEditTender)="closeEditTender()" fxFlex
    fxLayout="column">
  </tms-edit-tender>
</tms-modal-popup>
<tms-modal-popup #deleteTenderModalWrapper>
  <tms-delete-popup #deleteTenderPopup [tender]="tender" (onDelete)="delete()" (onCancel)="cancel()"></tms-delete-popup>
</tms-modal-popup>
<tms-modal-popup #pdfViewerModalMapper>
  <tms-pdf-viewer [title]="'['+tender?.tenderId+'] ' + tender?.name" (onClose)="closePdfViewer()"></tms-pdf-viewer>
</tms-modal-popup>
<tms-overlay-spinner loadingText="Loading Tenders..." size="64" *ngIf="isLoadingTenders">
</tms-overlay-spinner>
<tms-overlay loadingText="Your subscription has expired. Please upgrade." *ngIf="isUserSubscriptionExpired">
  <button mat-raised-button color="warn">
    Upgrade
  </button>
</tms-overlay>
