<mat-card class="forgot-password-card" fxLayout="column" fxFlexAlign="center">
  <mat-card-title class="forgot-password-card__title" fxLayout="row" fxFlexAlign="center">Forgot Password
  </mat-card-title>
  <mat-card-content class="forgot-password-card__content" fxLayout="colum" fxFlexAlign="center">
    <div fxLayout="column" fxFlexAlign="center" fxFlexFill>
      <div [formGroup]="passwordForm" fxLayout="column">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required (focus)="isPasswordFocused = true"
            (blur)="isPasswordFocused = false" formControlName="password" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="!passwordForm.controls.password.valid">Password is invalid.</mat-error>
          <mat-error *ngIf="!passwordForm.controls.password.valid && !isPasswordFocused">Password must contain 1 Capital
            letter, 1 Small letter, 1 Special
            character and 1 Number. Minimum length 8, Maximum length
            30.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required (focus)="isConfirmPasswordFocused = true"
            (blur)="isConfirmPasswordFocused = false" formControlName="confirmPassword" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="!passwordForm.controls.confirmPassword.valid">Password is invalid.</mat-error>
          <mat-error *ngIf="
              !passwordForm.controls.confirmPassword.valid &&
              !isConfirmPasswordFocused
            ">Password must contain 1 Capital letter, 1 Small letter, 1 Special
            character and 1 Number. Minimum length 8, Maximum length
            30.</mat-error>
        </mat-form-field>
        <mat-error *ngIf="
            passwordForm.controls.password.touched &&
            passwordForm.controls.confirmPassword.touched &&
            passwordForm.hasError('notSame')
          ">
          Passwords do not match.
        </mat-error>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="forgot-password-card__actions" fxLayout="colum" fxFlexAlign="center">
    <div class="actions" fxLayout="row" fxFlexAlign="center">
      <button mat-raised-button color="primary" [disabled]="
          !passwordForm.valid ||
          passwordForm.hasError('notSame')
        ">
        Reset Password
      </button>
      <button mat-raised-button routerLink="/" color="warn">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
<tms-overlay-spinner [loadingText]="loadingMessage" size="32" *ngIf="isLoading"></tms-overlay-spinner>
