<mat-card class="forgot-password-card" fxLayout="column" fxFlexAlign="center">
  <mat-card-title class="forgot-password-card__title" fxLayout="row" fxFlexAlign="center">Forgot Password
  </mat-card-title>
  <mat-card-content class="forgot-password-card__content" fxLayout="colum" fxFlexAlign="center">
    <div [formGroup]="forgotPasswordForm" fxLayout="column" fxFlexAlign="center" fxFlexFill>
      <mat-form-field>
        <mat-label>Username(email)</mat-label>
        <input matInput placeholder="pat@example.com" required formControlName="username" />
        <mat-error *ngIf="!forgotPasswordForm.controls.username.valid">Username is invalid.</mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions class="forgot-password-card__actions" fxLayout="colum" fxFlexAlign="center">
    <div class="actions" fxLayout="row" fxFlexAlign="center">
      <button mat-raised-button color="primary" (click)="generateForgotPasswordLink()" [disabled]="
          !forgotPasswordForm.valid
        ">
        Send Reset Link
      </button>
      <button mat-raised-button routerLink="/" color="warn">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
