:host {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('../../../assets/background.webp');
  background-size: cover;
}

mat-form-field {
  width: 100%;
}

mat-horizontal-stepper {
  background: transparent;
}

.user-exists {
  margin-bottom: 10px;
}

.register {
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 400px;
    background-color: rgba($color: #fff, $alpha: 0.6);
    backdrop-filter: blur(15px);
    z-index: 1;

    &__title {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }

    &__content {
      display: flex;
      flex-flow: column;
      flex: 1;
      width: 100%;
      justify-content: center;
    }

    .actions {
      margin-top: 20px;

      button {
        margin-right: 10px;
      }
    }
  }
}

.plans {
  display: flex;
  flex-flow: row;

  .plan {
    display: flex;
    flex: 1;
    margin: 20px;
    cursor: pointer;
    height: 65px;
    border-radius: 4px;
    padding: 0 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    &:hover {
      background: #d1cfcf;
      transition: all 0.3s ease-in-out;
    }

    mat-radio-button {
      display: flex;
      flex: 1;
      width: 100%;
      align-items: center;
    }
  }
}
