/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

.is-blocked {
  background-color: #ffd1d1 !important;
  color: #8a0000 !important;
}

.mat-dialog-container {
  padding: 0 !important;
}